@import "tailwindcss";

@font-face {
  font-family: Pokemon;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("@/assets/fonts/pokemon-game.ttf");
}

@theme {
  --color-pokemon-red: #ff0000;
  --color-pokemon-boston-red: #cc0000;
  --color-pokemon-blue: #3b4cca;
  --color-pokemon-yellow: #ffde00;
  --color-pokemon-gold: #b3a125;

  --font-pokemon: "Pokemon", sans-serif;

  --color-pokemon-normal: #a8a77a;
  --color-pokemon-fire: #ee8130;
  --color-pokemon-water: #6390f0;
  --color-pokemon-electric: #f7d02c;
  --color-pokemon-grass: #7ac74c;
  --color-pokemon-ice: #96d9d6;
  --color-pokemon-fighting: #c22e28;
  --color-pokemon-poison: #a33ea1;
  --color-pokemon-ground: #e2bf65;
  --color-pokemon-flying: #a98ff3;
  --color-pokemon-psychic: #f95587;
  --color-pokemon-bug: #a6b91a;
  --color-pokemon-rock: #b6a136;
  --color-pokemon-ghost: #735797;
  --color-pokemon-dragon: #6f35fc;
  --color-pokemon-dark: #705746;
  --color-pokemon-steel: #b7b7ce;
  --color-pokemon-fairy: #d685ad;

  --animate-slide-down: slide-down 0.5s ease-out;
  --animate-slide-up: slide-up 0.5s ease-out;
  --animate-description-in: description-in 0.4s ease-out;
  --animate-description-out: description-out 0.4s ease-out;
  --animate-bounce-once: bounce-once 0.6s ease-out forwards;
  --animate-shine: shine 0.6s linear;
  --animate-fade-in-left: fade-in-left 0.6s ease-out forwards;
  --animate-fade-in-right: fade-in-right 0.6s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
  --animate-fade-in-down: fade-in-down 0.6s ease-out forwards;
  --animate-fade-in: fade-in 0.6s ease-out forwards;

  @keyframes slide-down {
    from {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    to {
      opacity: 1;
      height: var(--radix-accordion-content-height);
      overflow: visible;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 1;
      height: var(--radix-accordion-content-height);
      overflow: visible;
    }
    to {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  @keyframes description-in {
    0% {
      opacity: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    100% {
      opacity: 1;
      max-height: 100%;
      padding-top: auto;
      padding-bottom: auto;
    }
  }

  @keyframes description-out {
    0% {
      opacity: 1;
      max-height: 100%;
      padding-top: auto;
      padding-bottom: auto;
    }
    100% {
      opacity: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @keyframes bounce-once {
    0% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    50% {
      transform: translateY(-2%);
      animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateZ(-100%);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
